body{
    background-color: #f8f8e8;
}
.footer{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', Arial, sans-serif;
    color:#b0b0b0;
   }  
.footercontainer{
    width:100%;
    height:220px;
    background-color: #212121;
}

 a:link{color: #b0b0b0;}
 a:visited{color:#9d8161}
 a:hover{color:#e3caab;}
 a:active{color: #584758;}
 
 /* font face is used to define and load custom fonts */
 @font-face {
    font-family: logofont;      /* here a name is given to identify the specific font*/
    src: url(../fonts/wakile.ttf)    /* here the relative path of the font is shown*/
    }
@font-face {
    font-family: navfont;
    src: url(../fonts/spinwerad.ttf);
}
@font-face {
    font-family: motto;
    src: url(../fonts/Chandiluna.ttf)
}
@font-face {
    font-family: bodyfont;
    src: url(../fonts/MotenaGolden-Reguler.ttf)
}


